body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Scans */
.scan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  min-height: 100vh;
}
.scanning-text {
text-align: center;
font-weight: 700;
}

.scan-text {
text-align: center;
}

.scan-text__code {
font-weight: 700;
}

.scan-nav {
  display: flex;
  gap: 25px;
}

.scan-nav img {
  width: 25px;
padding: 5px;
border-radius: 5px;
}

.scan-nav img:hover {
  background-color: aquamarine;
  
}

.reader-bar {
  width: 500px;
  height: 250px;
  border-radius: 5px;
  border: 5px solid grey;
}

.reader-qr {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  border: 5px solid grey;
}

